<! DOCTYPE html>
<html>
<head>
{% load static %}
	<link rel="stylesheet" type="text/css" href=" {% static 'mytasks/style.css' %} " />
</head>
<body>

<div class=taskbar>
	MyTasks
</div>
<div class=body>
	<div class=search_box>
		<form action="{% url 'by_owner' %}" method="post">{% csrf_token %}	
			<label class=banner>Search by owner</label>	
			<select name='owner' class=action_element autofocus>
			{% for user in all_users %}
				{% if user == selected %}
					<option value={{user}} selected class="selected">{{user}} </option>
				{% else %}
					<option value={{user}} >{{user}} </option>
				{% endif %}
			{% endfor %}
			</select>
			<input type="submit" value="Submit" class=button_element>
		</form>
	</div>
	<div class=task_playground>
	{% if task_lines %}
	        {% for task in task_lines %}
		<div class=task>
		<div class=date>{{task.pub_date}}</div>
		<div class=owner>{{task.owner}}</div>
		<div class=task_title>{{task.title}}</div>
		</div>
	        {% endfor %}
	{% endif %}
	</div>
</div>
</body>
</html>
