<html>
<head>
{% load static %}
	<link rel="stylesheet" type="text/css" href=" {% static 'mytasks/style.css' %} " />
</head>
<body>
<div class=taskbar>
	MyTasks
</div>
<div class=login_plane>
	<form action='{% url 'home' %}' method='post'>{% csrf_token %}
		<label class=login_element>User Name:</label>
		<input class=login_element type='text' name='uname' placeholder='Enter Username'required>
		<label class=login_element>User Password:</label>
		<input class=login_element type='password' name='pwd' placeholder='Enter Password' required>
		<input class=button_element type='submit' value='Login'>
		<a href={% url 'create_account' %} >Click here to create account</a>
	</form>
</div>
<body>
</html>
