#bharat_map_pan {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.login_content {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
}

.taskbar {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
        font-size: 2.5em;
	width: 100%;
	margin-bottom: 0.2em;
}

.login_plane {
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em;
	margin: auto;
	margin-top: 1em;
        border: 1px solid black;
        border-radius: 5px;
        width: 250px;
}

.login_element {
        text-align: center;
        padding: 0.2em;
        display: block;
        margin: auto;
	margin-top: 0.2em;
        font: 1em;
}

.button_element {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 0.5em;
        background-color: black;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
	padding: 0.4em;
}

.link_element {
	display: block;
	color: white;
	margin: auto;
	margin-top: 0.3em;
	text-align: center;
}

.search_box {
	float: left;
	height: 200px;
	width: 200px;
}
.banner{
        padding: 0.2em;
	display: block;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        color: white;
        background-color: black;
        border: 1px solid white;
        border-radius: 5px;
}

.action_element {
        display: block;
        padding: 0.2em;
        margin-top: 0.3em;
        background-color: black;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
}

.selected {
        background-color: red;
        color: white;
}

.page_url {
        display: block;
}

.warning_element {
        color: red;
}

.task_playground {
	margin-left: 200px;

}
.task {
	background: rgba(0, 0, 0, 0.5);
	padding: 0.2em;
	margin: 0.2em;
	color: white;
	overflow: auto;
}

.date {
	
	float: left;
	padding: inherit;
	margin: inherit;
	background-color: black;
}

.task_title {
	float: left;
	text-align: left;
}

.owner {
	float: left;
	padding: inherit;
	margin: inherit;
	background-color: MediumSeaGreen;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
}


